{%include "nav.html"%}
<!DOCTYPE html>
<html>
    <meta name ="viewport" content="width=device-width,initial-scale=1">
    <body>
<h2>Tomato Target Spot</h2>
      <h5>Scientific Name : Corynespora cassiicola </h5>
      Target spot of tomato caused by Corynespora cassiicola, is a serious foliar disease of both greenhouse and field grown tomatoes. The field disease is limited to the tropical and subtropical regions of the world.
            <h2>Symptoms</h2>
            Target Spot is a fungal disease that affects tomato plants. 
            <ul>
              <li>Circular Spots: Dark, circular spots with a concentric ring pattern develop on tomato leaves.</li>
              <li>Yellowing Leaves: Leaves around the spots turn yellow, leading to a mottled appearance.</li>
              <li>Leaf Drop: Severe infections can cause leaves to drop, weakening the plant.</li>
              <li>Fruit Spots: In some cases, small, dark spots may appear on the fruit.</li>
              <li>Reduced Yield: Target Spot can reduce fruit production as it progresses.</li>
              <li>Thrive in Warm, Humid Conditions: The disease thrives in warm and humid weather.</li>
              <li>Prevention and Management: Manage Target Spot with good garden hygiene, avoiding overhead watering, and considering fungicide application in severe cases. Adequate spacing and ventilation can also help reduce humidity and the risk of infection.</li>
              Early detection and proper management are essential to minimize the impact of Target Spot on tomato plants and their yield.
        
                <!-- Add more symptoms as needed -->
            </ul>
        
            <h2>Tomato mosaic virus</h2>
            <h5>Scientific name : Tobamovirus</h5> 
            Tomato mosaic virus (ToMV) is a plant pathogenic virus. It is found worldwide and affects tomatoes and many other plants.
            Tomato mosaic virus (ToMV) can harm tomato plants in several ways.
            
            <ol>
            <h2>Symptoms</h2>
            <li>Mottled Leaves: Leaves develop green and yellow patches, resembling a mosaic.</li>
            
            <li>Leaf Distortion: Leaves may curl upward or become misshapen.</li>
            
            <li>Slow Growth: Infected plants often grow more slowly and appear smaller.</li>
            
            <li>Fruit Impact: Fewer and smaller fruits can result from the virus</li>
            
            <li>Fruit Mosaic: Fruits may display mosaic-like patterns, making them unappealing.</li>
            
            <li>Symptom Severity: Symptoms range from mild to severe, with severe cases potentially killing the plant.</li>
            
            <li>Easy Spread: The virus spreads through contaminated tools, hands, or insects like aphids.</li>
            
            <li>Prevention: As there's no cure, prevention is key, using virus-free seeds, good garden hygiene, and controlling insect vectors.
            
            <li>Vigilance: Regular monitoring helps catch symptoms early to protect your tomato crop.</li>
            </ol>

            <h2>Healthy</h2>
            <h5>Scientific Name : Solanum lycopersicum</h5> 
            Healthy tomato plants look healthy. Healthy tomato plants should display soft, leaves with medium to dark shades of green with solid stems.
            <h2>Symptoms</h2>
            <ol>
            <li>Green Leaves: Healthy tomato plants have bright green leaves without yellowing or wilting.</li>
            <li>Strong Stem: Their main stem is sturdy and supports the plant well.</li>
            <li>Yellow Flowers: Bright yellow flowers indicate the plant's readiness to produce fruit.</li>
            <li>Quality Fruit: Healthy plants yield firm, blemish-free fruit that ripens gradually.</li>
            <li>Pest and Disease Resistance: They are generally free from pests and diseases.</li>
            <li>Proper Moisture: Soil maintains consistent moisture levels, avoiding overwatering or underwatering.</li>
            <li>Support and Pruning: Proper support and regular pruning of lower leaves enhance plant health.</li>
            <li>Strong Roots: Well-developed roots anchor the plant securely.</li>
            <li>Abundant Fruit: Healthy plants consistently produce plenty of high-quality fruit throughout the season.</li>
            </ol>
            
        
    
 
    </body>
    </html>
    
      
